body {
    min-height: 100vh;
    background: rgb(18, 23, 32);
    background: linear-gradient(339deg, rgb(18, 23, 32) 33%, rgb(27, 35, 47) 72%, rgb(30, 38, 52) 89%, rgb(36, 54, 82) 100%);
}

.toggle-text {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.toggle-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.toggle-link:hover {

    color: #33a0a3;
}

.toggle-link:active {
    color: #33a0a3;
}