.button {
  padding: 10px 20px;
  background-color: #33a0a3;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px auto 0 auto;
  width: 50%; 
  display: block;
  font-family: "Noto Sans Nandinagari", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.button:hover {
  background-color: #2d8f93;
}
