.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: "Noto Sans Nandinagari", sans-serif;
    z-index: 1000;
}

.popup-form {
    box-shadow: 0px 4px 15px rgba(102, 102, 255, 0.7);
    background-color: rgb(2, 29, 57);
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    color: white;
    text-align: center;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.close-button:hover {
    color: #f44336;
}

.popup-title {
    font-size: 22px;
    margin-bottom: 20px;
    color: #fff;
}

.popup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-input-container {
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
}

.popup-input-label {
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
    color: #fff;
}

.popup-input-field {
    width: calc(100% - 24px);
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #777;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    box-sizing: border-box;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.popup-button {
    background-color: #33a0a3;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 35%;
    transition: background-color 0.3s;
}

.popup-button:hover {
    background-color: #28b0b3;
}

.popup-cancel-btn {
    background-color: #f44336;
}

.popup-cancel-btn:hover {
    background-color: #e53935;
}