body {
    background-color: rgb(2, 29, 57);
}

.kanban {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px;
    background-color: rgb(2, 29, 57);
    padding-bottom: 20px;
}

.task-des {
    color: #fff;
    margin: 10px;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: justify;
}

.task-title {
    color: rgb(20, 28, 110);
    font-size: 18px;
    font-weight: bold;
}

.kanban__section {
    flex: 1;
    box-shadow: 0px 4px 15px rgba(5, 73, 107, 0.7);
    min-width: 300px;
    max-width: 100%;
    padding: 25px;
    border-radius: 10px;
    background-color: rgb(2, 29, 57);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.kanban__section:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 15px rgba(102, 102, 255, 0.7);
}

.kanban__section__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-count {
    font-size: 1rem;
    color: #ccc;
}

.kanban__section__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-task-btn {
    padding: 10px;
    background-color: #33a0a3;
    color: white;
    font-size: 1.1rem;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.add-task-btn:hover {
    background-color: #2a8a8a;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priority-tag {
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 0.9rem;
    color: white;
}

.priority-tag.high {
    background-color: #ff4c4c;
}

.priority-tag.medium {
    background-color: #ffa500;
}

.priority-tag.low {
    background-color: #4caf50;
}

.edit-task-btn,
.delete-task-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    margin: 0 5px;
}