@keyframes focusAnimation {
  from {
    box-shadow: 0px 2px 0 rgba(102, 102, 255, 0);
    border-color: #ccc;
    border-width: 1px;
  }

  to {
    box-shadow: 0px 2px 70px -10px rgba(102, 102, 255, 0.6), 0px 0px 5px rgba(102, 102, 255, 0.3);
    border-color: #33a0a3;
    border-width: 3px;
  }
}

@keyframes errorMessageAnimation {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.input:focus {
  animation: focusAnimation 0.3s forwards;
  outline: none;
}

.error-message {
  color: #ff99cc;
  text-align: left;
  font-weight: 400;
  margin: 10px 30px;
  font-size: 14px;
  font-family: "Noto Sans Nandinagari", sans-serif;
  font-weight: 400;
  font-style: normal;
  animation: errorMessageAnimation 0.3s ease-out;
}