.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 15px rgba(5, 77, 135, 0.7);
    background-color: rgb(2, 29, 57);
    padding: 1rem;
    color: white;
    position: relative;
    font-family: "Noto Sans Nandinagari", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-left {
    flex: 1;
}

.nav-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-logo {
    height: 40px; 
    width: auto;
}

.app-name {
    font-family: 'Dancing Script', cursive; 
    font-size: 1.5rem;
    color: #33a0a3; 
    margin-left: 0.5rem;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.nav-option {
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin: 0 1rem;
}

.nav-option:hover {
    color: #c1cde6;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: #FFD700;
}

.username {
    color: #FFD700;
    margin-right: 1rem;
}

.logout-button {
    background-color: #7d1a6e;
    font-family: "Noto Sans Nandinagari", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
}

.logout-button:hover {
    background-color: #781669;
}
